* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #161B22;
    font-family: Arial, sans-serif;
    animation: aparecerYSubir 1.5s ease-in-out forwards
}

.tarjeta-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#161B22;
    width: 320px;
    padding: 30px 20px;
    color: white;
    border-radius: 15px;
    box-shadow: -10px -10px 35px rgb(27, 27, 255),10px 10px 35px rgb(2, 157, 2) ;

}

.tarjeta-users h1 {
    font-size: 1.5rem;
    margin-bottom: 55px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin: 16px;
}

.campo label {
    font-size: 0.9rem;
    color: #c9d1d9;
}

.campo input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 0 18px 0 18px ;
    background-color: #0d1117;
    color: white;
    outline: none;

}

.campo input:focus {
    border-color: #E50914;
}

.btn-primary {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color:#E50914;
    border: none;
    border-radius: 10px;
    color: #161B22;
    font-weight: bold;
    cursor: pointer;
}


.acciones-extra {
    margin-top: 15px;
    text-align: center;
}

.btn-secundario {
    color: #8b949e;
    text-decoration: none;
}

.btn-secundario:hover {
    color: #ffffff;
}
.btn-tercer{
    text-decoration: none;
    color: #8b949e;
    cursor: pointer;
}
.btn-tercer:hover{
    color: #ffffff;
}

.logo {
    position: relative;
    right: 34px;
   
}


.campo input,
.campo select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 0 18px 0 18px;
    background-color: #0d1117;
    color: white;
    outline: none;
}

.campo select option {
    background-color: #0d1117;
    color: white;
}

@keyframes aparecerYSubir {
  from {
    opacity: 0;
    transform: translateY(20px); /* Nace 20px más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Sube a su posición original */
  }
}