<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/logo.png" sizes="200x200">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Cine premier </title>
    <link rel="icon" type="image/png" href="/static/img/logo.png?v=1">
    <title>Document</title>
</head>
<body>
    <header class="header-cabezado">
        <div class="navegacion">
                <div class="titulo-imagen">
                    <img src="/static/img/logo.png" alt="" width="100px">
                    <h2> Cine premier </h2>
                </div>
            <nav>
                <ul>
                    <li><a href="login.html">iniciar sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>